@import "tailwindcss";
@plugin "tailwind-scrollbar" {
    nocompatible: true;
    preferredStrategy: pseudoelements;
}

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: "Kalam";
    src: url('/fonts/main.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-main: Kalam;
    
    --color-font-monolog: #e3daa8;
    --color-font-desk: #cccccc;
    --color-desk: #0d2e0f;
}

.scrollbar {
    @apply scrollbar-thin scrollbar-thumb-rounded scrollbar-thumb-white/0 [&::-webkit-scrollbar-thumb]:border [&::-webkit-scrollbar-thumb]:border-font-desk scrollbar-track-transparent scrollbar-track-rounded
}