@import "tailwindcss";
@plugin "tailwind-scrollbar" {
    nocompatible: true;
    preferredStrategy: pseudoelements;
}

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: "Kalam";
    src: url('/fonts/main.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-main: Kalam;
    
    --color-font-monolog: #e3daa8;
    --color-font-desk: #cccccc;
    --color-desk: #0d2e0f;
}

body, #root {
    height: 100vh;
    height: 100dvh;
}